body {
    overflow-x: hidden;
    text-align: center;
    margin: 0px;
    background-color: #99c0e3;
    background-size: auto;
    color: #99c0e3;
    font-family: 'Dongle', sans-serif;
}

header {
    max-width: 100%;
}

nav {
    margin-top: 0;
    padding: 24px;
    text-align: right;
    font-family: 'Dongle', sans-serif;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.menu {
    transition: 0.4s;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 25px 2.5px 10px 2.5px;
    margin: 0 0px;
}

.menu:hover {
    background-color: #99c0e3;
    color: white;
    padding: 38px 10px 25px 10px;
}

.Logo {
    float: left;
    margin-top: 0px;
    width: 100px;
    height: 60px;
    padding: 12px;
}

.lona {
    overflow-x: hidden;
    max-width: 100%;
    left: 0;
    top: 0;
    margin: 0px;
}

.lona img{
    width: 100%;
    height: auto;
}

.div_prin {
    margin: 0 auto;
    width: 70%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
.coches {
    margin: 0 auto;
    width: 70%;
    height: 550px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.container {
    margin: 0 auto;
    width: 70%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
  }       
  
  .image-container-coches {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
  }
  .image-container-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Puedes ajustar esto según tus necesidades */
  }
  
  .image-container-reserva img {
    max-width: 90%;
    max-height: 90%;
  }
  .text-container {
    text-align: center;
    color: black;
  }
  
  h3 {
    margin-top: 10px;
  }
  #reservar {
    margin-top: 5px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   #reservar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   #reservar:hover {
    color: #e8e8e8;
   }
   
   #reservar:hover::before {
    width: 100%;
   }

.div_prin_contacto {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto de 16:9 (9 dividido por 16 da 0.5625) */
    overflow: hidden;
    margin: 0 auto;
    width: 45%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
    background-color: white;
    color: #99c0e3;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
#ubicacion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cita {
    margin: 0 auto;
    width: 70%;
}

label {
    display: inline-block;
    width: 48%;
    text-align: left;
}

input,
textarea {
    display: inline-block;
    width: 48%;
    text-align: center;
    background-color: #99c0e3;
    color: black;
    border: 1px solid #CCC;
    border-radius: 1em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
#borrar {
    background-color: white;
    color: red;
    font-size: medium;
    border: 2px solid red;
    border-radius: 8px;
    transition-duration: 0.4s;
}
#enviar{
    background-color: forestgreen;
    color: white;
    font-size: medium;
    border: 2px solid forestgreen;
    border-radius: 8px;
    transition-duration: 0.4s;
}
#enviar:hover{
    background-color: forestgreen;
    color: white;
}
#borrar:hover{
    background-color: red;
    color: white;
}
.footer {
    background: #ffffff;
    padding: 30px 0px;
    text-align: center;
    max-width: 100%;
    margin-top: 4em;
    padding-top: 4em;
    position:page;
    bottom: 0;
    clear: both;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 1.3em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #e96624;
    font-size: 26px;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}
